// Primary Colours
$bandsite-black: #323232;
$primary-silver: #afafaf;
$primary-white: #ffffff;

// secondary colours

$bandsite-darkblack: #000000;
$secondary-silver: #e1e1e1;
$secondary-white: #fafafa;
