@font-face {
  font-family: "Avenir Next Regular";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: "Avenir Next Demi";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf");
}

// Text sizing

h1 {
  font-family: "Avenir Next Bold";
  font-size: 24px;
  line-height: 32px;
}

h2,
li {
  font-family: "Avenir Next Demi";
  font-size: 14px;
}
