@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"),
    url("../assets/fonts/Alternative-files/AvenirNextLTPro.ttf")
      format("truetype");
}

@font-face {
  font-family: "Avenir Next Demi";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  src: url("../assets/fonts/Alternative-files/AvenirNextLTProDemi.ttf")
    format("truetype");
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/fonts/Alternative-files/AvenirNextLTPro-Bold.woff2")
      format("woff2"),
    url("../assets/fonts/Alternative-files/AvenirNextLTPro-Bold.woff")
      format("woff"),
    url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"),
    url("../assets/fonts/Alternative-files/AvenirNextLTProBold.ttf")
      format("truetype");
}

body {
  margin: 0;
  box-sizing: border-box;
}

// Text sizing

@mixin tablet {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}
// mixins for desktop and tablet font sizes

@mixin page-header {
  font-size: 3.75rem;
  line-height: 4.25rem;
}

@mixin section-header {
  font-size: 2.25rem;
  line-height: 2rem;
}

@mixin subheader {
  font-size: 1.5rem;
  line-height: 2rem;
}

@mixin body-copy {
  font-size: 0.875rem;
  line-height: 1.375rem;
}

@mixin footer-copy {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@mixin labels-buttons {
  font-size: 0.75rem;
  line-height: 1.25rem;
}

// Page Header
h1 {
  font-family: "Avenir Next Bold";
  font-size: 2rem;
  line-height: 2rem;
  @include tablet {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }

  @include desktop {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

// Section Header
h2 {
  font-family: "Avenir Next Bold";
  font-size: 2rem;
  line-height: 2rem;
  @include tablet {
    font-size: 2.25rem;
    line-height: 2rem;
  }

  @include desktop {
    font-size: 2.25rem;
    line-height: 2rem;
  }
}

// Subheader
h3,
li {
  font-family: "Avenir Next Demi";
  font-size: 1rem;
  line-height: 1.375rem;
  @include tablet {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  @include desktop {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

// body copy
p {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-family: "Avenir Next Regular";
  padding: 0 2rem;
  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

// footer copy
h4 {
  font-family: "Avenir Next Regular";
  font-size: 0.813rem;
  line-height: 1.125rem;
  @include tablet {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

// labels & buttons
h5 {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-family: "Avenir Next Bold";

  @include tablet {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}
