@use "./colours";
@use "./fonts";

body {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}

@mixin mobile-heading-padding {
  padding: 1.5rem 1rem 1rem 1rem;
}

@mixin desktop-heading-padding {
  padding: 3rem 2.25rem 2.25rem 5.25rem;
}

@mixin tablet-heading-padding {
  padding: 3rem 2.25rem 2.25rem 2.25rem;
}

@mixin tablet {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

// HEADER

// NAV

.nav {
  background-color: colours.$bandsite-black;
  width: 100%;
  margin: 0;
  @include tablet {
    display: flex;
    align-items: flex-end;
  }

  @include desktop {
    display: flex;
    align-items: flex-end;
  }

  &__header {
    text-align: center;
    color: colours.$primary-white;
    margin-top: auto;
    padding-top: 1rem;
    display: flex;
    justify-content: space-around;
    margin: 0;
    @include mobile-heading-padding;
    @include tablet {
      @include tablet-heading-padding;
    }

    @include desktop {
      @include desktop-heading-padding;
    }
  }

  &__list {
    display: flex;
    justify-content: space-evenly;
    @include tablet {
      align-items: flex-start;
      width: 30%;
    }

    @include desktop {
      align-items: flex-start;
      width: 25%;
    }
  }

  &__item {
    text-align: center;
    list-style-type: none;
    color: colours.$primary-white;
    width: 50%;
    &--active {
      border-bottom: 2px solid #fff;
      font-family: "Avenir Next Bold";
      @include tablet {
        border-bottom: 0;
        text-decoration: underline;
        text-underline-offset: 2.75rem;
        display: flex;
        justify-content: space-evenly;
      }

      @include desktop {
        border-bottom: 0;
        text-decoration: underline;
        text-underline-offset: 2.75rem;
        display: flex;
        justify-content: space-evenly;
      }
    }

    &:hover {
      border-bottom: 2px solid #fff;
      font-family: "Avenir Next Bold";
      @include tablet {
        border-bottom: 0;
        text-decoration: underline;
        text-underline-offset: 2.75rem;
      }

      @include desktop {
        border-bottom: 0;
        text-decoration: underline;
        text-underline-offset: 2.75rem;
      }
    }
    @include tablet {
      font-size: 1.25rem;
      padding: 0 0 1rem 0;
    }

    @include desktop {
      font-size: 1.25rem;
      padding: 0 0 1rem 0;
    }
  }

  &__link {
    text-decoration: none;
    color: colours.$primary-white;

    @include tablet {
      padding-bottom: 1.25rem;
    }

    @include desktop {
      padding-bottom: 1.25rem;
    }
  }
}
