@use "./colours";
@use "./fonts";

body {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}

@mixin mobile-heading-padding {
  padding: 1.5rem 1rem 1rem 1rem;
}

@mixin tablet {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    @content;
  }
}

// HEADER

// NAV

.nav {
  background-color: colours.$bandsite-black;
  width: 100%;
  margin: 0;
  @include tablet {
    display: flex;
    align-items: flex-end;
  }

  &__header {
    text-align: center;
    color: colours.$primary-white;
    margin-top: auto;
    padding-top: 1rem;
    display: flex;
    justify-content: space-around;
    @include mobile-heading-padding;
    @include tablet {
    }
  }

  &__list {
    display: flex;
    justify-content: space-evenly;
    @include tablet {
      align-items: center;
      width: 50%;
    }
  }

  &__item {
    text-align: center;
    list-style-type: none;
    color: colours.$primary-white;
    width: 50%;
    &--active {
      border-bottom: 2px solid #fff;
      font-family: "Avenir Next Bold";
      @include tablet {
        border-bottom: 0;
        text-decoration: underline;
        text-underline-offset: 1.5rem;
      }
    }
    &:hover {
      border-bottom: 2px solid #fff;
      font-family: "Avenir Next Bold";
      @include tablet {
        border-bottom: 0;
        text-decoration: underline;
        text-underline-offset: 1.5rem;
      }
    }
    @include tablet {
      font-size: 1.25rem;
      padding: 0 0 1rem 0;
    }
  }

  &__link {
    text-decoration: none;
    color: colours.$primary-white;
  }
}
