@use "./partials/global";
@use "./partials/colours";
@use "./partials/fonts";

// Padding

@mixin mobile-heading-padding {
  padding: 1.5rem 1rem 1rem 1rem;
}

@mixin desktop-heading-padding {
  padding: 3rem 2.25rem 2.25rem 6rem;
}

@mixin tablet-heading-padding {
  padding: 3rem 2.25rem 2.25rem 2.25rem;
}

// breakpoints

@mixin tablet {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin page-header {
  font-size: 3.75rem;
  line-height: 4.25rem;
}

body {
  margin: 0;
  box-sizing: border-box;
}

// HERO

.hero {
  background-position: center;
  background-size: cover;
  height: 35vh;
  display: flex;
  align-items: center;
  background-color: rgba($color: colours.$bandsite-black, $alpha: 0.5);
  width: 100%;
  margin: 0;

  @include tablet {
    height: 65vh;
  }

  @include desktop {
    height: 85vh;
  }

  &__title {
    color: colours.$primary-white;
    @include mobile-heading-padding;
    position: relative;
    font-size: 2.5rem;
    font-family: "Avenir Next Demi";

    @include tablet {
      @include tablet-heading-padding;
      font-size: 3.75rem;
    }

    @include desktop {
      @include desktop-heading-padding;
      font-size: 4.25rem;
    }
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 35vh;
    z-index: -10;

    @include tablet {
      height: 65vh;
    }

    @include desktop {
      height: 85vh;
    }
  }
}
// About

.about {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;

  &__title {
    @include mobile-heading-padding;

    @include tablet {
      @include tablet-heading-padding;
    }

    @include desktop {
      @include desktop-heading-padding;
    }
  }

  &__image {
    width: 90vw;
    align-self: center;

    @include tablet {
      width: 80vw;
      height: 50vh;
    }

    @include desktop {
      width: 65vw;
      height: 75vh;
    }
  }

  &__quote {
    font-size: 1.125rem;
    @include mobile-heading-padding;
    line-height: 2rem;

    &--person {
      font-size: 1.15rem;
    }

    @include tablet {
      font-size: 1.5rem;
      margin: auto;
      width: 80vw;
    }

    @include desktop {
      font-size: 1.5rem;
      margin: auto;
      width: 65vw;
    }
  }

  &__band-title {
    font-family: "Avenir Next Regular";
    font-size: 1.125rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 0rem 0rem;
    @include tablet {
      padding: 1rem 2.25rem 1rem 2.25rem;
      font-size: 2rem;
      width: 80vw;
      margin: auto;
    }

    @include desktop {
      padding: 3rem 0 2rem 0;
      font-size: 2rem;
      width: 65vw;
      margin: auto;
    }
  }

  &__text-container {
    @include tablet {
      column-count: 2;
      margin: auto;
      width: 83vw;
    }

    @include desktop {
      column-count: 2;
      margin: auto;
      width: 67vw;
    }
  }

  &__description {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0rem 1rem;

    @include tablet {
      margin: 0;
    }

    @include desktop {
      margin: 0;
      font-size: 1.1rem;
      line-height: 1.8rem;
    }
  }
}

// Photo Gallery

.gallery {
  background-color: colours.$secondary-silver;
  width: 100%;
  margin: 0;

  &__title {
    @include mobile-heading-padding;

    @include tablet {
      @include tablet-heading-padding;
    }

    @include desktop {
      @include desktop-heading-padding;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    @include desktop {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }

  &__image {
    width: 90vw;
    padding-top: 1rem;
    padding-bottom: 1rem;

    @include tablet {
      width: 17rem;
    }

    @include desktop {
      width: 30rem;
      opacity: 0.85;
    }

    &:hover {
      @include desktop {
        opacity: 1;
      }
    }
  }
}

// Join the Conversation

.conversation {
  @include mobile-heading-padding();
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  padding-bottom: 2.25rem;

  @include tablet() {
    padding: 2rem 2.25rem 2.25rem 2.25rem;
  }

  @include desktop {
    padding: 2rem 2.25rem 2.25rem 6rem;
  }

  &__post-comment-container {
    display: flex;
    width: 100%;
    margin: 0;
    border-bottom: 2px solid colours.$secondary-silver;
    padding-bottom: 1rem;

    @include tablet {
      width: 80%;
      margin: auto;
    }

    @include desktop {
      width: 50%;
      margin: auto;
    }
  }

  &__avatar-container {
    width: 12%;

    @include tablet {
      width: 10%;
    }
  }

  &__avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 0px;
    background-color: colours.$secondary-silver;
    margin: auto;

    @include tablet {
      width: 3.5rem;
      height: 3.5rem;
    }

    @include desktop {
      width: 3.5rem;
      height: 3.5rem;
    }

    &--poster {
      margin-top: 1.5rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: flex-start;

    @include tablet {
      width: 90%;
    }

    @include desktop {
      width: 90%;
    }
  }

  &__label {
    color: colours.$primary-silver;
    font-size: 0.85rem;
  }

  &__input {
    height: 2.5rem;
    border-radius: 4px;
    border: 1px solid colours.$secondary-silver;
    width: 95%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    background-color: colours.$secondary-white;
    color: colours.$bandsite-darkblack;

    @include tablet {
      height: 2.5rem;
      width: 96%;
    }

    @include desktop {
      height: 2.5rem;
      width: 97%;
    }

    :focus {
      border-color: colours.$bandsite-darkblack;
    }

    &--comment {
      height: 4rem;

      @include tablet {
        height: 4rem;
      }

      @include desktop {
        height: 6rem;
      }
    }

    &--error {
      border: 1px solid #d22d2d;
    }
  }

  &__button {
    height: 2.5rem;
    width: 100%;
    margin: 0;
    border-radius: 4px;
    border: 0px;
    color: colours.$primary-white;
    background-color: colours.$bandsite-black;
    font-family: "Avenir Next Demi";
    &:hover {
      background-color: colours.$bandsite-darkblack;
    }

    @include tablet() {
      width: 9.5rem;
      align-self: flex-end;
    }

    @include desktop() {
      width: 9.5rem;
      align-self: flex-end;
    }
  }

  &__comment-container {
    display: flex;
    width: 100%;
    padding-top: 1rem;
    border-bottom: 2px solid colours.$secondary-silver;

    @include tablet {
      width: 80%;
      margin: auto;
    }

    @include desktop {
      width: 50%;
      margin: auto;
    }
  }

  &__comment-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
  }

  &__comment {
    width: 90%;
    padding: 0;
    margin: 0 0 0.5rem 0;
    font-size: 0.9rem;
    line-height: 1.3rem;

    @include tablet {
      font-size: 1rem;
      line-height: 1.4rem;
    }

    @include desktop {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }

  &__name-date-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__name {
    font-family: "Avenir Next Bold";
    font-size: 0.91rem;
    padding: 0;

    @include desktop {
      font-size: 1rem;
    }
  }

  &__date {
    color: colours.$primary-silver;
  }
}
