@use "./partials/global";
@use "./partials/colours";
@use "./partials/fonts";

// breakpoints

@mixin mobile-heading-padding {
  padding: 1.5rem 1rem 1rem 1rem;
}

@mixin tablet {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin page-header {
  font-size: 3.75rem;
  line-height: 4.25rem;
}

// HERO

.hero {
  // background-image: url("../assets/images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
  height: 35vh;
  display: flex;
  align-items: center;
  // opacity: 0.5;
  background-color: rgba($color: colours.$bandsite-black, $alpha: 0.5);

  @include tablet {
    height: 50vh;
  }

  @include desktop {
    height: 50vh;
  }

  &__title {
    color: colours.$primary-white;
    @include mobile-heading-padding;
    position: relative;
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 35vh;
    z-index: -10;

    @include tablet {
      height: 50vh;
    }

    @include desktop {
      height: 50vh;
    }
  }
}
// About

.about {
  display: flex;
  flex-direction: column;

  &__title {
    @include mobile-heading-padding;
  }

  &__image {
    width: 90vw;
    align-self: center;
  }

  &__quote {
    font-size: 1.125rem;
    @include mobile-heading-padding;
    line-height: 2rem;
  }

  &__band-title {
    font-family: "Avenir Next Regular";
    font-size: 1.125rem;
    @include mobile-heading-padding;
  }
}

// Photo Gallery

.gallery {
  background-color: colours.$secondary-silver;

  &__title {
    @include mobile-heading-padding;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }

  &__image {
    width: 90vw;
    padding-top: 1rem;
    padding-bottom: 1rem;

    @include tablet {
      width: 17rem;
    }
  }
}

// footer

.footer {
  background-color: colours.$bandsite-black;

  &__title {
    color: colours.$primary-white;
    @include mobile-heading-padding;
    margin-top: 0;
  }

  &__social-media {
    padding: 0 1rem;
  }

  &__icon {
    padding-right: 1rem;
  }

  &__companies {
    display: flex;
    flex-direction: column;
  }

  &__copy {
    color: colours.$primary-white;
    padding: 0 1rem;
    &--copyright {
      margin-bottom: 0;
      padding: 0 0rem 1rem 1rem;
    }
    &--title {
      font-family: "Avenir Next Demi";
    }
  }

  &__email {
    text-decoration: none;
  }

  &__logo {
    color: colours.$primary-white;
    padding: 0 1rem;
  }
}
