@use "./partials/global";
@use "./partials/colours";
@use "./partials/fonts";

// breakpoints

@mixin tablet {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

// PADDING

@mixin mobile-heading-padding {
  padding: 1.5rem 1rem 1rem 1rem;
}

@mixin desktop-heading-padding {
  padding: 3rem 2.25rem 2.25rem 6rem;
}

@mixin tablet-heading-padding {
  padding: 3rem 2.25rem 2.25rem 2.25rem;
}

// HERO

.hero {
  background-position: center;
  background-size: cover;
  height: 45vh;
  display: flex;
  align-items: center;
  background-color: rgba($color: colours.$bandsite-black, $alpha: 0.5);
  width: 100%;
  margin: 0;

  @include tablet {
    height: 65vh;
  }

  @include desktop {
    height: 85vh;
  }

  &__content {
    width: 100%;
  }

  &__album-title {
    @include mobile-heading-padding;
    color: colours.$primary-white;

    @include tablet {
      padding: 2rem 0 0 2.25rem;
    }

    @include desktop {
      padding: 2rem 0 0 14rem;
    }
  }

  &__title-music {
    @include desktop {
      display: flex;
    }
  }

  &__title {
    color: colours.$primary-white;
    @include mobile-heading-padding;
    position: relative;
    font-size: 2rem;
    font-family: "Avenir Next Demi";

    @include tablet {
      padding: 0 0 0 2.25rem;
      font-size: 3.75rem;
      margin-top: 0;
      width: 70%;
    }

    @include desktop {
      @include desktop-heading-padding;
      font-size: 4.25rem;
      padding: 0 2rem 0 14rem;
      margin-top: 0;
      width: 30%;
      line-height: 4.75rem;
    }
  }

  &__soundcloud {
    height: 8rem;
    width: 90%;
    padding-left: 1rem;

    @include tablet {
      padding: 0 0 1rem 2.25rem;
      width: 60%;
    }

    @include desktop {
      width: 30%;
      height: 10rem;
      padding-left: 2rem;
    }
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 45vh;
    z-index: -10;

    @include tablet {
      height: 65vh;
    }

    @include desktop {
      height: 85vh;
    }
  }
}

.shows {
  box-sizing: border-box;

  @include desktop {
    display: flex;
  }

  &__title {
    @include mobile-heading-padding;
    width: 15%;

    @include tablet {
      padding: 2.25rem 0 1.5rem 2.25rem;
      margin: 0.5rem 0 0 0;
    }

    @include desktop {
      padding: 2.25rem 0 1.5rem 14rem;
      margin: 0.5rem 0 0 0;
      font-size: 3.5rem;
      font-family: "Avenir Next Demi";
    }
  }

  &__container {
    @include desktop {
      width: 60%;
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
    }
  }

  &__headings-container {
    display: none;

    @include tablet {
      display: contents;
      display: flex;
      width: 80%;
      justify-content: space-evenly;
    }

    @include desktop {
      display: contents;
      display: flex;
      width: 80%;
      justify-content: space-evenly;
      padding-top: 2.25rem;
    }
  }

  &__heading {
    color: colours.$primary-silver;
    width: 20%;
    padding-bottom: 2rem;
  }

  &__date {
    font-family: "Avenir Next Bold";
    padding: 0 1rem;
    margin: 0.5rem 0;

    @include tablet {
      width: 20%;
      font-family: "Avenir Next Demi";
      font-size: 1.3rem;
    }

    @include desktop {
      width: 20%;
      font-family: "Avenir Next Demi";
      font-size: 1.2rem;
    }
  }

  &__venue {
    padding: 0 1rem;
    margin: 0.5rem 0;

    @include tablet {
      width: 20%;
      font-family: "Avenir Next Regular";
      font-size: 1.25rem;
    }

    @include desktop {
      width: 20%;
      font-family: "Avenir Next Regular";
      font-size: 1.2rem;
    }
  }

  &__location {
    padding: 0 1rem;
    margin: 0.5rem 0;

    @include tablet {
      width: 20%;
      font-family: "Avenir Next Regular";
      font-size: 1.25rem;
    }

    @include desktop {
      width: 20%;
      font-family: "Avenir Next Regular";
      font-size: 1.2rem;
    }
  }

  &__card {
    padding-bottom: 1rem;
    border-bottom: 2px solid colours.$secondary-silver;
    margin-bottom: 0.75rem;
    display: flex;
    flex-direction: column;
    &:hover {
      background-color: colours.$secondary-white;
    }
    // &:active {
    //   background-color: colours.$secondary-silver;
    // }

    @include tablet {
      flex-direction: row;
      justify-content: space-evenly;
      margin: 0 0.75rem 0.75rem 0.75rem;
    }

    @include desktop {
      flex-direction: row;
      justify-content: space-evenly;
      margin: 0;
      padding: 1rem 0;
    }

    &--clicked {
      background-color: colours.$secondary-silver;
    }
  }

  &__section-title {
    padding: 0 1rem;
    margin: 0.25rem 0;
    color: colours.$primary-silver;

    @include tablet {
      display: none;
    }

    @include desktop {
      display: none;
    }
  }

  &__tickets {
    height: 3rem;
    font-size: 1.25rem;
    width: 90%;
    align-self: center;

    @include tablet {
      width: 9.5rem;
    }

    @include desktop {
      width: 9.5rem;
    }
  }
}
